.clients__list {
  min-width: 450px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 210px;
  flex-basis: calc((100% - 30px) / 2);

  color: var(--icons-color);
  box-sizing: border-box;
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: color var(--anim-transition-hover), border-color var(--anim-transition-hover);

  &:hover,
  &:focus {
    color: var(--accent-project-color);
    border-color: var(--accent-project-color);
  }

  @media screen and (min-width: 768px) {
    min-width: 226px;
    flex-basis: calc((100% - 30px * 2) / 3);
  }

  @media screen and (min-width: 1200px) {
    min-width: 170px;
  }
}

.clients__icons {
  fill: currentColor;
}
