.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);

  &-container {
    display: flex;
    align-items: baseline;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address-wrapper {
  width: 230px;
  margin-right: 70px;
}

.address-inner {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  line-height: calc(24 / 14);

  transition: color var(--anim-transition-hover);

  &--dark {
    color: var(--contacts-footer-color);
  }

  &--light {
    color: var(--main-bg-color);
  }

  &:focus,
  &:hover {
    color: var(--accent-project-color);
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.jointous__list {
  display: flex;
  gap: 10px;
}

.jointous__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--anim-transition-hover);

  &:hover,
  &:focus {
    background-color: var(--accent-project-color);
  }
}

.jointous__icons {
  fill: var(--main-bg-color);
}

.subscription-wrapper {
  margin-left: auto;
}

.subscription__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.subscription__email {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;

  &:not(:placeholder-shown) {
    color: var(--contacts-footer-color);
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
  }
}

.subscr__btn {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding-left: 28px;
  padding-right: 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background-color: var(--accent-project-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe__icon {
  fill: var(--main-bg-color);
}
