.footer {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);

  &-container {
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
      row-gap: 60px;
      column-gap: 165px;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
      flex-wrap: nowrap;
      justify-content: flex-start;
      gap: 93px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--main-bg-color);
  }
  &-logo {
    display: block;
    margin-bottom: 20px;
  }
}

.address-wrapper {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.address-inner {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  line-height: calc(24 / 14);

  transition: color var(--anim-transition-hover);

  &--dark {
    color: var(--contacts-footer-color);
  }

  &--light {
    color: var(--main-bg-color);
  }

  &:focus,
  &:hover {
    color: var(--accent-project-color);
  }
}

.jointous-wrapper {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.jointous__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.jointous__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--anim-transition-hover);

  &:hover,
  &:focus {
    background-color: var(--accent-project-color);
  }
}

.jointous__icons {
  fill: var(--main-bg-color);
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}
.subscription__field {
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.subscription__email {
  display: block;
  width: 450px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &:not(:placeholder-shown) {
    color: var(--contacts-footer-color);
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
  }
}

.subscr__btn {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background-color: var(--accent-project-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe__icon {
  fill: var(--main-bg-color);
}
