.header {
  border-bottom: 1px solid var(--header-border-clr);

  &-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}

.header-logo {
  margin-right: 93px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color var(--anim-transition-hover);

  &:hover,
  &:focus {
    color: var(--accent-project-color);
  }
}

.nav__item.current {
  color: var(--accent-project-color);
}

.header-contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-contacts__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;

  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-text-color);
  align-items: center;

  transition: color var(--anim-transition-hover);

  &:hover,
  &:focus {
    color: var(--accent-project-color);
  }
}

.header-icons {
  fill: currentColor;
}

.current {
  position: relative;
}

.current .nav__link {
  color: var(--accent-project-color);
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;

    display: inline-block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    box-sizing: border-box;
    background-color: var(--accent-project-color);
  }
}
