.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  text-align: center;
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
}
